#pre_setting.row
  .three.columns.avatar
    = image_tag u.avatar.url(:thumb)
  .ten.columns
    %br
    = form_for u, url: main_profile_path, method: 'PUT' do |f|
      .row
        .six.columns
          = f.label :male_true, 'Male'
        .six.columns
          = f.radio_button :male, true, checked: 'checked'
      .row
        .six.columns
          = f.label :male_false, 'Female'
        .six.columns
          = f.radio_button :male, false
      .row
        .six.columns
          = f.label 'user_type', 'Type'
        .six.columns
          = f.select 'user_type', options_for_select(User::TYPES)
      .row{data: {behavior: 'Flash', time: '5000'}}
        = f.submit 'Save'
