#setting.row{data: {behavior: 'Profile', action: profile_path, type: 'PUT'}}
  .three.columns.avatar
    = display_avatar u, true
  .nine.columns.options
    .row.option
      .three.columns
        = label_tag 'name'
      .seven.columns
        = text_field_tag 'name', u.name, class: 'u-full-width', autocomplete: 'off'
      .two.columns.save
        = fa_icon 'save 2x', class: 'black-color pointer', id: 'save_name', title: 'Update name'
    .row.option
      .three.columns
        = label_tag 'email'
      .seven.columns
        = email_field_tag 'email', u.email, class: 'u-full-width', disabled: true
    .row.option
      .three.columns
        = label_tag 'type'
      .seven.columns
        = text_field_tag 'user_type', u.user_type, id: 'type', disabled: true, class: 'u-full-width'
        .row
          = nested_form_for u, url: change_avatar_profile_path, method: 'put', remote: true, data: {behavior: 'Avatar'}, html: {class: 'hd'} do |f|
            = f.file_field :avatar
            = f.submit 'Save', id: 'change_avatar', class: 'button-primary'
