#setting.row{data: {behavior: 'Profile', action: profile_path, type: 'PUT'}}
  .two.columns
    = image_tag current_user.image
  .ten.columns
    .row
      .three.columns
        = label_tag 'name'
      .seven.columns
        = text_field_tag 'name', u.name, class: 'u-full-width', autocomplete: 'off'
      .two.columns.button.button-primary#save_name Save
    .row
      .three.columns
        = label_tag 'email'
      .seven.columns
        = email_field_tag 'email', u.email, class: 'u-full-width', disabled: true
    .row
      .three.columns
        = label_tag 'type'
      .seven.columns
        = text_field_tag 'user_type', u.user_type, id: 'type', disabled: true, class: 'u-full-width'
