- if params[:crop_avatar]
  $('#flash').replaceWith("#{j (render 'layouts/box/flash')}")
  $('.menu').show();
  $('.stuff').html("#{j (render 'layouts/box/profile_sidebar')}");
  $('.stuff').append("#{j (render 'settings')}");
  new Behavior.Flash()
  new Behavior.Profile()
  new Behavior.Avatar()
  $('.spinner-wrap').hide()
- elsif flash[:error]
  $('#flash').replaceWith("#{j (render 'layouts/box/flash')}")
  new Behavior.Flash(6000)
  new Behavior.Profile()
  new Behavior.Avatar()
  $('.spinner-wrap').hide()
- else
  alert('11111');
  $('.menu').hide();
  $('.stuff').html("#{j (render 'crop_avatar')}");
  init_papercrop();
  setTimeout(function(){
  $('.spinner-wrap').hide()
  }, 3000);
  new Behavior.Spinner()
