.left-img-navbar.gn-c
  .img
    = image_tag 'logo.png'
  .img
    = image_tag 'hot-rod-5.png'
  .img
    = image_tag '2m.png'
  .img
    = image_tag 'hot-rod-1.png'
  .img
    = image_tag '3m.png'
  .img
    = image_tag 'hot-rod-2.png'
  .img
    = image_tag '5m.png'
