.container#sidebar
  %hr
  .row.gn-r
    = link_to chops_path, title: 'Chop list', remote: true do
      = fa_icon 'gavel 2x', class: 'black-color'
    -#= link_to '#', title: 'Parts' do
      = fa_icon 'gears 2x', class: 'black-color'
    -#= link_to '#', title: 'Tools' do
      = fa_icon 'puzzle-piece 2x', class: 'black-color'
    -#= link_to '#', title: 'Articles' do
      = fa_icon 'eye 2x', class: 'black-color'
    -#= link_to '#', title: 'Events' do
      = fa_icon 'beer 2x', class: 'black-color'
    -#= link_to dashboard_musics_path, remote: true, title: 'Musics' do
      = fa_icon 'music 2x', class: 'black-color'
