.right-img-navbar.gn-c
  .img
    = image_tag 'hot-rod-2.png'
  .img
    = image_tag '6m.png'
  .img
    = image_tag 'hot-rod-3.png'
  .img
    = image_tag '4m.png'
  .img
    = image_tag 'hot-rod-4.png'
  .img
    = image_tag 'hot-rod-6.png'
