.two.columns.sidebar
  = link_to 'Members', '#', class: "button twelve columns #{active('dashboard')}"
  = link_to 'Action1', '#', class: "button twelve columns #{active('')}"
  = link_to 'Action2', '#', class: "button twelve columns #{active('')}"
  = link_to 'Action3', '#', class: "button twelve columns #{active('')}"
