#chop-hd-container.row
  .row.head
    .one.columns
      = link_to user_path(@chop.user), title: @chop.user.name, data: {push: true} do
        = image_tag @chop.user.avatar.url(:thumb), class: 'user-avatar'
    .seven.columns.name= @chop.name
    .four.columns.action
      .like
        - if u
          .like-click{title: like_title(false, @chop), data: {behavior: 'Like', action: like_chop_path(@chop)}}
            = fa_icon 'star', class: 'option'
            = like_title(true, @chop)
        - else
          .like-click{title: 'Потрібно залогінитись щоб проголосувати'}
            = fa_icon 'star', class: 'option'
            .title Starred
        .count= @chop.likers_count
  .row
    .six.columns
      #projector{data: {behavior: 'ImageGallery', data: @chop_images}}
    - if @chop.youtube_url.present?
      .six.columns
        .youtube-container
          = youtube_video(@chop.youtube_url)
  .row
    %p.desc= @chop.description
