#chop-hd-container.row
  .row.head
    .eight.columns.name= @chop.name
    .three.columns
      .like
        - if u
          .like-click{title: like_title(false, @chop), data: {behavior: 'Like', action: like_chop_path(@chop)}}
            = fa_icon 'star', class: 'option'
            = like_title(true, @chop)
        - else
          .like-click{title: 'Потрібно залогінитись щоб проголосувати'}
            = fa_icon 'star', class: 'option'
            .title Starred
        .count= @chop.likers_count
    .one.columns.owner
      = link_to user_path(@chop.user), title: 'Власник', data: {push: true} do
        = fa_icon 'user-secret 2x', class: 'black-color'
  .row
    #projector{data: {behavior: 'ImageGallery', data: @chop_images}}
  .row
    %p.desc= @chop.description
  - if @chop.youtube_url.present?
    .row.youtube-container
      = youtube_video(@chop.youtube_url)
