.chop
  = link_to dashboard_path(chop), title: chop.name, data: {push: true} do
    = image_tag chop.image, class: 'image'
  .footer
    .container
      .row
        .eight.columns.name{title: "#{chop.name}"}= chop.name
        .four.columns
          = fa_icon 'star', class: 'option'
          %span= chop.likers_count
