- @chops.each do |chop|
  .row.chop
    .four.columns.avatar
      = link_to dashboard_path(chop), title: chop.name, data: {push: true} do
        = image_tag chop.image, class: 'image'
    .seven.columns.name
      = chop.name
    .one.column.actions
      = link_to dashboard_path(chop), title: 'Show more', data: {push: true} do
        = fa_icon 'external-link-square 2x', class: 'black-color'
