.row.gn-r
  = link_to '#', remote: true, title: 'Add new chop' do
    = fa_icon 'plus-circle 2x', class: 'black-color'

- @choppeds.each do |chop|
  .row
    .seven.columns
      = link_to chop.name, '#'
    .two.columns.gn-r
      = link_to 'Edit', '#', class: 'button button-primary'
    .three.columns.gn-r
      = link_to 'Remove', '#', class: 'button button-primary'
