#detail_user.row
  .three.columns
    .avatar
      = display_avatar @user, false
    .data
      .name
        %h5= @user.name
      %hr
      .type
        = fa_icon 'user-secret', class: 'option'
        = @user.user_type
      - if @user.locality.present?
        .location
          = fa_icon 'map-marker', class: 'option'
          = @user.locality
      .email
        = fa_icon 'envelope', class: 'option'
        = @user.email
      .joined
        = fa_icon 'clock-o', class: 'option'
        = @user.created_at.strftime("Joined on %e %b %Y")
      %hr
      .activity.row.gn-c
        = link_to '#', remote: true, class: 'link' do
          %strong.count 0
          %span.title Followers
        = link_to '#', remote: true, class: 'link' do
          %strong.count 0
          %span.title Starred
        = link_to '#', remote: true, class: 'link' do
          %strong.count 0
          %span.title Following
      %hr


  .nine.columns.options
    Another content
