<!DOCTYPE html>
<html>
<head>
  <title>Ournet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/box/navbar' %>
  <div class='container stuff'>
    <hr>
    <div class='row'>
      <%= render 'layouts/box/sidebar' %>
      <div class='ten columns yield'>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
