<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>UCC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='container'>
  <div id='media'><audio id='audio_player'></audio></div>
  <%= render 'layouts/box/navbar' %>
  <%= render 'layouts/box/flash' %>
  <%= render 'layouts/box/spinner' %>
  <div class='stuff'>
    <%= yield %>
  </div>
</body>
</html>
